{% extends 'base.html.twig' %}

{% block title %}{{ title}} | {{ parent() }}{% endblock %}

{% block body %}
        <section class="container-fluid h-custom w-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                                <h1  class="my-3 text-center text-white f-lunatic fs-4 fw-bold">{{subtitle}}</h1>
                                {{ form_start(registrationForm) }}

                                <div class="input-group mb-3">
                                        <label class="input-group-text" for="basic-registration_form_pseudo" >Pseudo</label>
                                        {{ form_widget(registrationForm.pseudo) }}
                                </div>
                                {{form_errors(registrationForm.pseudo)}}

                                <div class="input-group mb-3">
                                        <label class="input-group-text" for="basic-registration_form_nom" >Nom</label>
                                        {{ form_widget(registrationForm.nom) }}
                                </div>
                                {{form_errors(registrationForm.nom)}}

                                <div class="input-group mb-3">
                                        <label class="input-group-text" for="basic-registration_form_prenom" >Prenom</label>
                                        {{ form_widget(registrationForm.prenom) }}
                                </div>
                                {{form_errors(registrationForm.prenom)}}

                                <div class="input-group mb-3">
                                        <label class="input-group-text" for="basic-registration_form_telephone" >Téléphone</label>
                                        {{ form_widget(registrationForm.telephone) }}
                                </div>
                                {{form_errors(registrationForm.telephone)}}

                                <div class="input-group mb-3">
                                        <label class="input-group-text" for="basic-registration_form_email" >Email</label>
                                        {{ form_widget(registrationForm.email) }}
                                </div>
                                {{form_errors(registrationForm.email)}}

                                <div class="input-group mb-3">
                                        <label class="input-group-text" for="basic-registration_form_plainPassword_first" >Mot de passe</label>
                                        {{ form_widget(registrationForm.plainPassword.first) }}
                                </div>
                                {{form_errors(registrationForm.plainPassword.first)}}
                                <div class="input-group mb-3">
                                        <label class="input-group-text" for="basic-registration_form_plainPassword_second" >Confirmation</label>
                                        {{ form_widget(registrationForm.plainPassword.second) }}
                                </div>

                                <div class="input-group mb-3">
                                        <label class="input-group-text" for="basic-registration_form_pseudo" >Campus</label>
                                        {{ form_widget(registrationForm.campus) }}
                                </div>

                                <div class="input-group mb-3">
                                        <label class="input-group-text" for="registration_form_imageFile">Avatar</label>
                                        {{ form_widget(registrationForm.imageFile) }}
                                </div>
                                {{form_errors(registrationForm.imageFile)}}
                                <div class="d-flex justify-content-between mb-3">
                                        <a class="btn bg-4 btn-lg text-white f-lunatic btn-connexion mb-3" href="{{ path('sortie_home') }}">Annuler</a>
                                        <button type="submit" class="btn bg-4 btn-lg text-white f-lunatic btn-connexion mb-3">Enregistrer</button>
                                        {{ form_end(registrationForm) }}
                                </div>

                        </div>
                        <div class="col-md-9 col-lg-6 col-xl-5 mb-3 p-5 rounded">
                                <img src="{{asset('assets/image/register.jpg')}}"
                                     class="img-fluid rounded opacity-75 " alt="S'enregistrer">
                        </div>
                </div>
        </section>
{% endblock %}
