{% extends 'base.html.twig' %}
{% block title %}{{title}} - {{parent()}}{% endblock %}

{% block body %}
        <h1 class="text-center p-2 f-lunatic text-white my-3">Annuler une sortie</h1>
        <div class="col-10 col-md-8 col-lg-6 m-auto">
                <div class="col-8 col-md-6 col-lg-4 mx-auto my-4 text-center">
                        <img class="img-fluid m-auto" alt="reset-password" src="{{asset('assets/image/cancel.png')}}">
                </div>
                <p class="text-center text-white fs-5 w-100">Nom de la sortie : {{sortie.nom}}</p>
                <p class="text-center text-white fs-5 w-100">Date de la sortie : {{sortie.DateHeureDebut | format_date}}</p>
                <p class="text-center text-white fs-5 w-100">Campus : {{sortie.campus.nom}}</p>
                <p class="text-center text-white fs-5 w-100">Lieu : {{sortie.lieux.nom}}</p>


                <div class=" col-10 col-md-8 col-lg-6 mx-auto my-5">
                {{form_start(formAnnule)}}
                        <div class="input-group">
                                <label class="input-group-text" for="annule_motif">Motif</label>
                                {{form_widget(formAnnule.motif)}}
                        </div>
                        {{form_errors(formAnnule.motif)}}
                        <button class="btn bg-4 btn-lg text-white f-lunatic btn-connexion w-100" type="submit" >Annuler la sortie</button>
                {{form_end(formAnnule)}}
                </div>
        </div>
{% endblock %}