<nav class="navbar navbar-expand-lg p-0 d-none d-md-block">
        <div class="container-fluid">
                <div class="text-end p-2">
                        <span class="nav-link date">{{ "now" | date("m/d/Y") |format_datetime('full', 'none', locale='fr') }}</span>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                                {% if app.user  %}
                                        {% if is_granted("ROLE_ADMIN") %}
                                                <li class="nav-item">
                                                        <a class="nav-link f-lunatic active text-light" aria-current="page" href="{{path('admin_tous')}}">Admin</a>
                                                </li>
                                                <li class="nav-item">
                                                        <a class="nav-link" aria-current="page" href="{{path('campus_tous')}}">Campus</a>
                                                </li>
                                                <li class="nav-item">
                                                        <a class="nav-link" aria-current="page" href="{{path('ville_toutes')}}">Villes</a>
                                                </li>
                                                <li class="nav-item">
                                                        <a class="nav-link" aria-current="page" href="{{path('lieu_tous')}}">Lieux</a>
                                                </li>
                                        {% endif %}
                                        <li class="nav-item">
                                                <a class="nav-link" aria-current="page" href="{{ path('sortie_create') }}" title="CreateSortie">Créer une sortie</a>
                                        </li>
                                        <li class="nav-item">
                                                <a class="nav-link" aria-current="page" href="{{ path('app_profil',{'id':app.user.id}) }}" title="Mon Profil">Mon profil</a>
                                        </li>
                                        <li class="nav-item">
                                                <a class="nav-link" aria-current="page" href="{{ path('app_logout') }}" title="Logout">Se déconnecter</a>
                                        </li>

                                {% endif %}
                        </ul>
                </div>
        </div>
</nav>